{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>K-Pop Kingdom: A Visual Journey</title>
    <link rel="stylesheet" href="{% static 'fontawesome-5.5/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tooplate-infinite-loop.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="...replace_with_actual_integrity_code..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    

        <style>
        form {
            width: 50%;
            margin: 0 auto;
            background-color: #ffffff2a;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        label {
            font-weight: bold;
        }
        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="file"] {
            margin-top: 5px;
            margin-bottom: 10px;
        }
        button[type="submit"] {
            background-color: #38B;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: rgb(47, 142, 201);
        }
    </style>


  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
            <div class="container">   
                <div class="tm-next">
                    <a href="#infinite" class="navbar-brand">Welcome to IUverse</a>
                </div>             
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#infinite">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#whatwedo">What I Do</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#testimonials">Acknowledgements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#admin">Admin</a>
                        </li>              
                    </ul>
                </div>        
            </div>
        </nav>
          
        <div class="text-center tm-hero-text-container">
            <div class="tm-hero-text-container-inner">
                <h2 class="tm-hero-title">IU - niverse</h2>
                <p class="tm-hero-subtitle">
                    A Visual Journey,
                    <br>a fan-made website dedicated to the multi-talented Korean artist, IU! Through this platform, 
                    <br>we celebrate the achievements, artistry, and captivating performances of IU, one of the most influential figures in the K-pop industry. From her soulful vocals to her captivating acting, 
                    <br>IU has captured the hearts of fans worldwide with her versatility and charisma
                </p>
            </div>        
        </div>
    
        <div class="tm-next tm-intro-next">
            <a href="#whatwedo" class="text-center tm-down-arrow-link">
                <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
            </a>
        </div>      
    </section>
    

    <section id="whatwedo" class="tm-section-pad-top">
      
      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">What I Do</h2>
                        <p class="mb-4 tm-intro-text">
                          Please note that this website is created solely for project purposes and is not affiliated with IU or her management team. It serves as atribute from devoted fans who admire her work and wish to share their appreciation with others.</p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="far fa-3x fa-star text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Celebrating Talent</h2>
                        <p class="mb-4 tm-intro-text">
                          The website aims to celebrate IU's immense talent and contributions to the entertainment industry. By showcasing her music, performances, and achievements, it serves as a tribute to her artistry and impact on fans worldwide</p>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="far fa-3x fa-heart text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Expressing Admiration</h2>
                        <p class="mb-4 tm-intro-text">
                          As a devoted fan, creating this website is a way to express admiration and appreciation for IU's work. It's a platform to share love and support for her music, acting, and other creative endeavors with fellow fans who share the same passion.</p>
                    </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                  <i class="fas fa-3x fa-users text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Community Building</h2>
                        <p class="mb-4 tm-intro-text">
                          The website fosters a sense of community among fans who admire IU. It provides a space for fans to connect, share their thoughts and experiences, and engage in discussions about IU's work, further strengthening the bond within the fanbase.
                        </p>
                          <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-1">
                  <i class="fas fa-3x fa-code text-center tm-icon"></i>
              </div>
              <div class="col-lg-5">
                  <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Educational and Inspirational</h2>
                      <p class="mb-4 tm-intro-text">
                        This website not only honors IU but also showcases my skills in computer science. It offers insights into IU's career and aims to inspire by demonstrating how technology can highlight her journey and influence.
                          <br>You can find the source code and other project files on <a href="https://github.com/miiciiii" target="_blank">GitHub</a>
                      </p>
                      <div class="tm-continue">
                          <a href="https://github.com/miiciiii" class="tm-intro-text tm-btn-primary" target="_blank">Details</a>
                      </div>
                  </div>
              </div>
              
            
            </div><!-- third row -->

        </div>
      
    </section>
    
    <section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
        <div class="container tm-testimonials-content">
            <div class="row">
                <div class="text-center col-12">
                    <h2 class="text-white text-center mb-4 tm-section-title">Acknowledgements</h2>
                    <p class="mx-auto tm-section-desc text-center">
                        Special thanks to those who contributed to this project.
                    </p>
                    <div class="mx-auto tm-gallery-container tm-gallery-container-2">
                        <div class="tm-testimonials-carousel">
                            <figure class="tm-testimonial-item">
                                <img src="{% static 'img/ack1resz.webp' %}" alt="Image" class="img-fluid mx-auto">
                                <blockquote>I want to express my heartfelt gratitude to my girlfriend, for her endless support and inspiration. From late-night coding sessions to valuable feedback, her presence made this project possible. Thank you for always believing in me.</blockquote>
                                <figcaption>Kate Gillian Sta. Maria Matienzo (Girlfriend)</figcaption>
                            </figure>
    
                            <figure class="tm-testimonial-item">
                                <img src="{% static 'img/ezgif-3-b8564c19cd.gif' %}" alt="Image" class="img-fluid mx-auto">
                                <blockquote>A special thank you to Pinterest for providing inspiration and resources for this project. Your platform has been invaluable in sparking creativity and finding design ideas. Grateful for the wealth of inspiration you offer to creators like myself 
                                    <br><a href="https://www.pinterest.ph/miiicoooo/" target="_blank">this is my pinterest account</a>.</blockquote>
                                <figcaption>Pinterest (Platform)</figcaption>
                            </figure>
    
                            <figure class="tm-testimonial-item">
                                <img src="{% static 'img/wallpaper-flare-icon-filled-256.png' %}" alt="Image" class="img-fluid mx-auto">
                                <blockquote>Many thanks to Wallpaper Flare for their stunning collection of wallpapers that added visual flair to this project. Your wide array of high-quality images has been instrumental in enhancing the design aesthetic. Grateful for the endless inspiration you provide to creators like myself.</blockquote>
                                <figcaption>Wallpaper Flare (Repository)</figcaption>
                            </figure>

                            <figure class="tm-testimonial-item">
                                <img src="{% static 'img/tooplate_logo.png' %}" alt="Image" class="img-fluid mx-auto">
                                <blockquote>I extend my gratitude to Tooplate for their inspiring designs that have guided the visual direction of this project. Your platform has been an invaluable source of creative inspiration, offering beautifully crafted templates that elevate digital creations. Thank you for empowering creators with access to exceptional design resources.</blockquote>
                                <figcaption>Tooplate (Design Inspiration)</figcaption>
                            </figure>

                            <figure class="tm-testimonial-item">
                                <img src="{% static 'img/github-markres.png' %}" alt="Image" class="img-fluid mx-auto">
                                <blockquote>A special acknowledgment to GitHub for providing a robust platform for version control and collaboration, essential to the development of this project. Your tools have streamlined the coding process, facilitating seamless teamwork and ensuring project integrity. Appreciative of the invaluable support you offer to developers worldwide.</blockquote>
                                <figcaption>Github (Repository)</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
          <div class="row">
              <div class="text-center col-12">
                  <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>
                  <p class="mx-auto tm-section-desc">
                      Welcome to our gallery! Explore a captivating collection of images showcasing moments of beauty, inspiration, and creativity. From breathtaking landscapes to intimate portraits, each picture tells a unique story. Browse through our gallery and let your imagination wander.
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div id="tm-gallery" class="mx-auto tm-gallery-container">
                      <div class="grid tm-gallery">
                          {% for gallery in galleries %}
                              {% for image in gallery.gallery_images.all %}
                                  <a href="{{ image.image.url }}">
                                      <figure class="effect-honey tm-gallery-item">
                                          <img src="{{ image.image.url }}" alt="Image for {{ gallery.title }}" class="img-fluid">
                                          <figcaption>
                                              <h2><i>{{ gallery.title }}<span>{{ gallery.description }}</span></i></h2>
                                          </figcaption>
                                      </figure>
                                  </a>
                              {% endfor %}
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
    
      <div class="container tm-container-contact">
        
        <div class="row">
            
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contact</h2>
                <p class="mb-5">
                  Feel free to reach out to me via the following channels
                </p><br>
            </div>
            
            
            <div class="container-div">
              <div class="inner-div">
                  <div class="contact-item">
                      <a rel="nofollow" href="https://www.facebook.com/profile.php?id=100009777677738" class="item-link" target="_blank">
                          <i class="far fa-2x fa-comment mr-4"></i>
                          <span class="mb-0">Chat Online</span>
                      </a>
                  </div>
          
                  <div class="contact-item">
                      <a rel="nofollow" href="justinjohnmico.09@gmail.com" class="item-link" target="_blank">
                          <i class="far fa-2x fa-envelope mr-4"></i>
                          <span class="mb-0">miiiciiii@gmail.com</span>
                      </a>
                  </div>
          
                  <div class="contact-item">
                      <a rel="nofollow" href="https://github.com/miiciiii" class="item-link" target="_blank">
                          <i class="fab fa-2x fa-github mr-4"></i>
                          <span class="mb-0">My Github Repository</span>
                      </a>
                  </div>
          
                  <div class="contact-item">
                      <a rel="nofollow" href="tel:0100200340" class="item-link" target="_blank">
                          <i class="fas fa-2x fa-phone-square mr-4"></i>
                          <span class="mb-0">+63 910 410 4755</span>
                      </a>
                  </div>
              </div>
          </div>

          <h1>Request Gallery</h1>
          <form action="{% url 'request_gallery' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="title">Title:</label><br>
              <input type="text" id="title" name="title"><br>
              
              <label for="description">Description:</label><br>
              <textarea id="description" name="description"></textarea><br>
              
              <label for="images">Upload Images:</label><br>
              <input type="file" name="images" multiple><br>
              
              <button type="submit">Request Gallery</button>
          </form>
            
            
        </div><!-- row ending -->
        
      </div>

      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; 2024
        </footer>

    </section>

    <!-- admin -->
    <section id="admin" class="tm-section-pad-top tm-parallax-2">
      <div class="login-container">
          <form class="login-form" id="loginForm">
              <h2>Login</h2>
              <div class="input-group">
                  <label for="username">Username</label>
                  <input type="text" id="username" name="username" required>
              </div>
              <div class="input-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" required>
              </div>
              <button type="submit">Log In</button>
          </form>
      </div>
  </section>

    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'slick/slick.min.js' %}"></script>
    <script src="{% static 'magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('loginForm');

            form.addEventListener('submit', function(event) {
                event.preventDefault();  // Prevent form from submitting the default way

                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                if (username === 'admin' && password === 'admin') {
                    window.location.href = 'admin_page';
                } else {
                    alert('Invalid username or password');
                }
            });
        });
    </script>

    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        background_image_parallax_2($("#testimonials"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
          'easing': 'easeInOutExpo',
          'speed': 600
        });        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
          dots: true,
          prevArrow: false,
          nextArrow: false,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            }, 
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }                 
            }
          ]
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
